<mat-form-field>
  <input matInput #leftInput name="leftValue" type="text" placeholder="{{leftInputPlaceholder}}" style="width: 8cm" (change)="moveFocus(leftInput.value)" autocomplete="off">
  <mat-hint class="ErrorMessageForm" *ngIf="isLeftValueDuplicate">Value already exists!</mat-hint>
</mat-form-field>

<mat-form-field>
  <input matInput #rightInput name="rightValue" type="text" placeholder="{{rightInputPlaceholder}}" style="width: 8cm" (change)="nextPair(leftInput.value, rightInput.value)" autocomplete="off">
  <mat-hint class="ErrorMessageForm" align="start" *ngIf="isRightValueDuplicate">Value already exists!</mat-hint>
</mat-form-field>

<button mat-mini-fab type="button" (click)="removeMe()" color="primary" [disabled]="positionScanPair == countScanPair-1">-</button>
<p style="vertical-align: text-bottom" class="Width--100 Color--warn Line--Break" *ngIf="hadErrorSending && errorMessage != null">Error occurred sending this scan pair!
{{errorMessage}}</p>
