<span [hidden]="!isDataLoading" class="Width--100">
  <div align="center" class="Width--100 Height--100">
    <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
  </div>
</span>
<mat-dialog-content *ngIf=!isDataLoading>
  <div class="family-member-popup">
    <div (click)="close()" class="family-member-close">
      X
    </div>
    <table class="family-member-form table table-condensed">
      <tbody>
        <tr>
          <td><b>First Name</b></td>
          <td>
            <input 
              type="text" 
              name="first-name"
              matInput
              [(ngModel)]="familyMemberFirstName">
          </td>
        </tr>
        
        <tr>
          <td><b>Last Name</b></td>
          <td>
            <input 
              type="text" 
              name="last-name"
              matInput
              [(ngModel)]="familyMemberLastName">  
          </td>
        </tr>
      
        <tr>
          <td><b>Relationship ID</b></td>
          <td>
            <span [ngClass]="{'subject-id-info': true, 'active': subjectId.errors?.pattern}">* Add relationship id as x or x_y</span>
            <span [ngClass]="{'subject-id-exists': true, 'active': isRelationshipIdExists()}">Relationship ID already exists</span>
            <input 
            type="text"
            maxlength="10" 
            name="subjectId"
            matInput
            [(ngModel)]="familyMemberSubjectId"
            #subjectId="ngModel"  
            pattern="^(\d*)([0-9]+)(_[0-9]+)*"
            >  
          </td>
        </tr>
        
        <tr>
          <td><b>Relation</b></td>
          <td>
            <mat-select [(ngModel)]="chosenRelation">
              <mat-option *ngFor="let key of getRelations()" [value]="key">
                {{staticRelations[key]}}
              </mat-option>
            </mat-select>
          </td>
        </tr>

        <tr>
          <td><b>Copy Proband Info</b></td>
          <td>
            <mat-checkbox
            [(ngModel)]="isCopyProbandInfo"
            [color]="'primary'"
            [disabled]="isParticipantProbandEmpty">
            </mat-checkbox>
          </td>
        </tr>
    
        <tr>
          <td>
            <button class="btn btn-primary" [disabled]="isFamilyMemberFieldsEmpty() || subjectId.errors?.pattern || isRelationshipIdExists()" (click)="submitFamilyMember()">Submit</button>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-dialog-content>