<ng-container class="Width--100">
    <md-select (change)="valueChanged($event, 'country')">
<!--    <md-option value="Afghanistan">Afghanistan</md-option>-->
<!--    <md-option value="Åland Islands">Åland Islands</md-option>-->
<!--    <md-option value="Albania">Albania</md-option>-->
<!--    <md-option value="Algeria">Algeria</md-option>-->
<!--    <md-option value="American Samoa">American Samoa</md-option>-->
<!--    <md-option value="Andorra">Andorra</md-option>-->
<!--    <md-option value="Angola">Angola</md-option>-->
<!--    <md-option value="Anguilla">Anguilla</md-option>-->
<!--    <md-option value="Antarctica">Antarctica</md-option>-->
<!--    <md-option value="Antigua and Barbuda">Antigua and Barbuda</md-option>-->
<!--    <md-option value="Argentina">Argentina</md-option>-->
<!--    <md-option value="Armenia">Armenia</md-option>-->
<!--    <md-option value="Aruba">Aruba</md-option>-->
<!--    <md-option value="Australia">Australia</md-option>-->
<!--    <md-option value="Austria">Austria</md-option>-->
<!--    <md-option value="Azerbaijan">Azerbaijan</md-option>-->
<!--    <md-option value="Bahamas">Bahamas</md-option>-->
<!--    <md-option value="Bahrain">Bahrain</md-option>-->
<!--    <md-option value="Bangladesh">Bangladesh</md-option>-->
<!--    <md-option value="Barbados">Barbados</md-option>-->
<!--    <md-option value="Belarus">Belarus</md-option>-->
<!--    <md-option value="Belgium">Belgium</md-option>-->
<!--    <md-option value="Belize">Belize</md-option>-->
<!--    <md-option value="Benin">Benin</md-option>-->
<!--    <md-option value="Bermuda">Bermuda</md-option>-->
<!--    <md-option value="Bhutan">Bhutan</md-option>-->
<!--    <md-option value="Bolivia">Bolivia</md-option>-->
<!--    <md-option value="Bosnia and Herzegovina">Bosnia and Herzegovina</md-option>-->
<!--    <md-option value="Botswana">Botswana</md-option>-->
<!--    <md-option value="Bouvet Island">Bouvet Island</md-option>-->
<!--    <md-option value="Brazil">Brazil</md-option>-->
<!--    <md-option value="British Indian Ocean Territory">British Indian Ocean Territory</md-option>-->
<!--    <md-option value="Brunei Darussalam">Brunei Darussalam</md-option>-->
<!--    <md-option value="Bulgaria">Bulgaria</md-option>-->
<!--    <md-option value="Burkina Faso">Burkina Faso</md-option>-->
<!--    <md-option value="Burundi">Burundi</md-option>-->
<!--    <md-option value="Cambodia">Cambodia</md-option>-->
<!--    <md-option value="Cameroon">Cameroon</md-option>-->
    <md-option value="Canada">Canada</md-option>
<!--    <md-option value="Cape Verde">Cape Verde</md-option>-->
<!--    <md-option value="Cayman Islands">Cayman Islands</md-option>-->
<!--    <md-option value="Central African Republic">Central African Republic</md-option>-->
<!--    <md-option value="Chad">Chad</md-option>-->
<!--    <md-option value="Chile">Chile</md-option>-->
<!--    <md-option value="China">China</md-option>-->
<!--    <md-option value="Christmas Island">Christmas Island</md-option>-->
<!--    <md-option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</md-option>-->
<!--    <md-option value="Colombia">Colombia</md-option>-->
<!--    <md-option value="Comoros">Comoros</md-option>-->
<!--    <md-option value="Congo">Congo</md-option>-->
<!--    <md-option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</md-option>-->
<!--    <md-option value="Cook Islands">Cook Islands</md-option>-->
<!--    <md-option value="Costa Rica">Costa Rica</md-option>-->
<!--    <md-option value="Cote D'ivoire">Cote D'ivoire</md-option>-->
<!--    <md-option value="Croatia">Croatia</md-option>-->
<!--    <md-option value="Cuba">Cuba</md-option>-->
<!--    <md-option value="Cyprus">Cyprus</md-option>-->
<!--    <md-option value="Czech Republic">Czech Republic</md-option>-->
<!--    <md-option value="Denmark">Denmark</md-option>-->
<!--    <md-option value="Djibouti">Djibouti</md-option>-->
<!--    <md-option value="Dominica">Dominica</md-option>-->
<!--    <md-option value="Dominican Republic">Dominican Republic</md-option>-->
<!--    <md-option value="Ecuador">Ecuador</md-option>-->
<!--    <md-option value="Egypt">Egypt</md-option>-->
<!--    <md-option value="El Salvador">El Salvador</md-option>-->
<!--    <md-option value="Equatorial Guinea">Equatorial Guinea</md-option>-->
<!--    <md-option value="Eritrea">Eritrea</md-option>-->
<!--    <md-option value="Estonia">Estonia</md-option>-->
<!--    <md-option value="Ethiopia">Ethiopia</md-option>-->
<!--    <md-option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</md-option>-->
<!--    <md-option value="Faroe Islands">Faroe Islands</md-option>-->
<!--    <md-option value="Fiji">Fiji</md-option>-->
<!--    <md-option value="Finland">Finland</md-option>-->
<!--    <md-option value="France">France</md-option>-->
<!--    <md-option value="French Guiana">French Guiana</md-option>-->
<!--    <md-option value="French Polynesia">French Polynesia</md-option>-->
<!--    <md-option value="French Southern Territories">French Southern Territories</md-option>-->
<!--    <md-option value="Gabon">Gabon</md-option>-->
<!--    <md-option value="Gambia">Gambia</md-option>-->
<!--    <md-option value="Georgia">Georgia</md-option>-->
<!--    <md-option value="Germany">Germany</md-option>-->
<!--    <md-option value="Ghana">Ghana</md-option>-->
<!--    <md-option value="Gibraltar">Gibraltar</md-option>-->
<!--    <md-option value="Greece">Greece</md-option>-->
<!--    <md-option value="Greenland">Greenland</md-option>-->
<!--    <md-option value="Grenada">Grenada</md-option>-->
<!--    <md-option value="Guadeloupe">Guadeloupe</md-option>-->
<!--    <md-option value="Guam">Guam</md-option>-->
<!--    <md-option value="Guatemala">Guatemala</md-option>-->
<!--    <md-option value="Guernsey">Guernsey</md-option>-->
<!--    <md-option value="Guinea">Guinea</md-option>-->
<!--    <md-option value="Guinea-bissau">Guinea-bissau</md-option>-->
<!--    <md-option value="Guyana">Guyana</md-option>-->
<!--    <md-option value="Haiti">Haiti</md-option>-->
<!--    <md-option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</md-option>-->
<!--    <md-option value="Holy See (Vatican City State)">Holy See (Vatican City State)</md-option>-->
<!--    <md-option value="Honduras">Honduras</md-option>-->
<!--    <md-option value="Hong Kong">Hong Kong</md-option>-->
<!--    <md-option value="Hungary">Hungary</md-option>-->
<!--    <md-option value="Iceland">Iceland</md-option>-->
<!--    <md-option value="India">India</md-option>-->
<!--    <md-option value="Indonesia">Indonesia</md-option>-->
    <md-option value="Iran, Islamic Republic of">Iran, Islamic Republic of</md-option>
<!--    <md-option value="Iraq">Iraq</md-option>-->
<!--    <md-option value="Ireland">Ireland</md-option>-->
<!--    <md-option value="Isle of Man">Isle of Man</md-option>-->
<!--    <md-option value="Israel">Israel</md-option>-->
<!--    <md-option value="Italy">Italy</md-option>-->
<!--    <md-option value="Jamaica">Jamaica</md-option>-->
<!--    <md-option value="Japan">Japan</md-option>-->
<!--    <md-option value="Jersey">Jersey</md-option>-->
<!--    <md-option value="Jordan">Jordan</md-option>-->
<!--    <md-option value="Kazakhstan">Kazakhstan</md-option>-->
<!--    <md-option value="Kenya">Kenya</md-option>-->
<!--    <md-option value="Kiribati">Kiribati</md-option>-->
<!--    <md-option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</md-option>-->
<!--    <md-option value="Korea, Republic of">Korea, Republic of</md-option>-->
<!--    <md-option value="Kuwait">Kuwait</md-option>-->
<!--    <md-option value="Kyrgyzstan">Kyrgyzstan</md-option>-->
<!--    <md-option value="Lao People's Democratic Republic">Lao People's Democratic Republic</md-option>-->
<!--    <md-option value="Latvia">Latvia</md-option>-->
<!--    <md-option value="Lebanon">Lebanon</md-option>-->
<!--    <md-option value="Lesotho">Lesotho</md-option>-->
<!--    <md-option value="Liberia">Liberia</md-option>-->
<!--    <md-option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</md-option>-->
<!--    <md-option value="Liechtenstein">Liechtenstein</md-option>-->
<!--    <md-option value="Lithuania">Lithuania</md-option>-->
<!--    <md-option value="Luxembourg">Luxembourg</md-option>-->
<!--    <md-option value="Macao">Macao</md-option>-->
<!--    <md-option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</md-option>-->
<!--    <md-option value="Madagascar">Madagascar</md-option>-->
<!--    <md-option value="Malawi">Malawi</md-option>-->
<!--    <md-option value="Malaysia">Malaysia</md-option>-->
<!--    <md-option value="Maldives">Maldives</md-option>-->
<!--    <md-option value="Mali">Mali</md-option>-->
<!--    <md-option value="Malta">Malta</md-option>-->
<!--    <md-option value="Marshall Islands">Marshall Islands</md-option>-->
<!--    <md-option value="Martinique">Martinique</md-option>-->
<!--    <md-option value="Mauritania">Mauritania</md-option>-->
<!--    <md-option value="Mauritius">Mauritius</md-option>-->
<!--    <md-option value="Mayotte">Mayotte</md-option>-->
    <md-option value="Mexico">Mexico</md-option>
<!--    <md-option value="Micronesia, Federated States of">Micronesia, Federated States of</md-option>-->
<!--    <md-option value="Moldova, Republic of">Moldova, Republic of</md-option>-->
<!--    <md-option value="Monaco">Monaco</md-option>-->
<!--    <md-option value="Mongolia">Mongolia</md-option>-->
<!--    <md-option value="Montenegro">Montenegro</md-option>-->
<!--    <md-option value="Montserrat">Montserrat</md-option>-->
<!--    <md-option value="Morocco">Morocco</md-option>-->
<!--    <md-option value="Mozambique">Mozambique</md-option>-->
<!--    <md-option value="Myanmar">Myanmar</md-option>-->
<!--    <md-option value="Namibia">Namibia</md-option>-->
<!--    <md-option value="Nauru">Nauru</md-option>-->
<!--    <md-option value="Nepal">Nepal</md-option>-->
<!--    <md-option value="Netherlands">Netherlands</md-option>-->
<!--    <md-option value="Netherlands Antilles">Netherlands Antilles</md-option>-->
<!--    <md-option value="New Caledonia">New Caledonia</md-option>-->
<!--    <md-option value="New Zealand">New Zealand</md-option>-->
<!--    <md-option value="Nicaragua">Nicaragua</md-option>-->
<!--    <md-option value="Niger">Niger</md-option>-->
<!--    <md-option value="Nigeria">Nigeria</md-option>-->
<!--    <md-option value="Niue">Niue</md-option>-->
<!--    <md-option value="Norfolk Island">Norfolk Island</md-option>-->
<!--    <md-option value="Northern Mariana Islands">Northern Mariana Islands</md-option>-->
<!--    <md-option value="Norway">Norway</md-option>-->
<!--    <md-option value="Oman">Oman</md-option>-->
<!--    <md-option value="Pakistan">Pakistan</md-option>-->
<!--    <md-option value="Palau">Palau</md-option>-->
<!--    <md-option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</md-option>-->
<!--    <md-option value="Panama">Panama</md-option>-->
<!--    <md-option value="Papua New Guinea">Papua New Guinea</md-option>-->
<!--    <md-option value="Paraguay">Paraguay</md-option>-->
<!--    <md-option value="Peru">Peru</md-option>-->
<!--    <md-option value="Philippines">Philippines</md-option>-->
<!--    <md-option value="Pitcairn">Pitcairn</md-option>-->
<!--    <md-option value="Poland">Poland</md-option>-->
<!--    <md-option value="Portugal">Portugal</md-option>-->
<!--    <md-option value="Puerto Rico">Puerto Rico</md-option>-->
<!--    <md-option value="Qatar">Qatar</md-option>-->
<!--    <md-option value="Reunion">Reunion</md-option>-->
<!--    <md-option value="Romania">Romania</md-option>-->
<!--    <md-option value="Russian Federation">Russian Federation</md-option>-->
<!--    <md-option value="Rwanda">Rwanda</md-option>-->
<!--    <md-option value="Saint Helena">Saint Helena</md-option>-->
<!--    <md-option value="Saint Kitts and Nevis">Saint Kitts and Nevis</md-option>-->
<!--    <md-option value="Saint Lucia">Saint Lucia</md-option>-->
<!--    <md-option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</md-option>-->
<!--    <md-option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</md-option>-->
<!--    <md-option value="Samoa">Samoa</md-option>-->
<!--    <md-option value="San Marino">San Marino</md-option>-->
<!--    <md-option value="Sao Tome and Principe">Sao Tome and Principe</md-option>-->
<!--    <md-option value="Saudi Arabia">Saudi Arabia</md-option>-->
<!--    <md-option value="Senegal">Senegal</md-option>-->
<!--    <md-option value="Serbia">Serbia</md-option>-->
<!--    <md-option value="Seychelles">Seychelles</md-option>-->
<!--    <md-option value="Sierra Leone">Sierra Leone</md-option>-->
<!--    <md-option value="Singapore">Singapore</md-option>-->
<!--    <md-option value="Slovakia">Slovakia</md-option>-->
<!--    <md-option value="Slovenia">Slovenia</md-option>-->
<!--    <md-option value="Solomon Islands">Solomon Islands</md-option>-->
<!--    <md-option value="Somalia">Somalia</md-option>-->
<!--    <md-option value="South Africa">South Africa</md-option>-->
<!--    <md-option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</md-option>-->
<!--    <md-option value="Spain">Spain</md-option>-->
<!--    <md-option value="Sri Lanka">Sri Lanka</md-option>-->
<!--    <md-option value="Sudan">Sudan</md-option>-->
<!--    <md-option value="Suriname">Suriname</md-option>-->
<!--    <md-option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</md-option>-->
<!--    <md-option value="Swaziland">Swaziland</md-option>-->
<!--    <md-option value="Sweden">Sweden</md-option>-->
<!--    <md-option value="Switzerland">Switzerland</md-option>-->
<!--    <md-option value="Syrian Arab Republic">Syrian Arab Republic</md-option>-->
<!--    <md-option value="Taiwan, Province of China">Taiwan, Province of China</md-option>-->
<!--    <md-option value="Tajikistan">Tajikistan</md-option>-->
<!--    <md-option value="Tanzania, United Republic of">Tanzania, United Republic of</md-option>-->
<!--    <md-option value="Thailand">Thailand</md-option>-->
<!--    <md-option value="Timor-leste">Timor-leste</md-option>-->
<!--    <md-option value="Togo">Togo</md-option>-->
<!--    <md-option value="Tokelau">Tokelau</md-option>-->
<!--    <md-option value="Tonga">Tonga</md-option>-->
<!--    <md-option value="Trinidad and Tobago">Trinidad and Tobago</md-option>-->
<!--    <md-option value="Tunisia">Tunisia</md-option>-->
<!--    <md-option value="Turkey">Turkey</md-option>-->
<!--    <md-option value="Turkmenistan">Turkmenistan</md-option>-->
<!--    <md-option value="Turks and Caicos Islands">Turks and Caicos Islands</md-option>-->
<!--    <md-option value="Tuvalu">Tuvalu</md-option>-->
<!--    <md-option value="Uganda">Uganda</md-option>-->
<!--    <md-option value="Ukraine">Ukraine</md-option>-->
<!--    <md-option value="United Arab Emirates">United Arab Emirates</md-option>-->
<!--    <md-option value="United Kingdom">United Kingdom</md-option>-->
    <md-option value="United States">United States</md-option>
<!--    <md-option value="United States Minor Outlying Islands">United States Minor Outlying Islands</md-option>-->
<!--    <md-option value="Uruguay">Uruguay</md-option>-->
<!--    <md-option value="Uzbekistan">Uzbekistan</md-option>-->
<!--    <md-option value="Vanuatu">Vanuatu</md-option>-->
<!--    <md-option value="Venezuela">Venezuela</md-option>-->
<!--    <md-option value="Viet Nam">Viet Nam</md-option>-->
<!--    <md-option value="Virgin Islands, British">Virgin Islands, British</md-option>-->
<!--    <md-option value="Virgin Islands, U.S.">Virgin Islands, U.S.</md-option>-->
<!--    <md-option value="Wallis and Futuna">Wallis and Futuna</md-option>-->
<!--    <md-option value="Western Sahara">Western Sahara</md-option>-->
<!--    <md-option value="Yemen">Yemen</md-option>-->
<!--    <md-option value="Zambia">Zambia</md-option>-->
<!--    <md-option value="Zimbabwe">Zimbabwe</md-option>-->
  </md-select>
</ng-container>

