<div class="container">
  <div class="main-box">
    <b>Enrolled Participants</b>
    <p></p>
    <p>{{enrolledParticipants}}</p>
    <p>{{calculatePercentage(enrolledParticipants)}}%</p>
  </div>
  
  <div class="main-box">
    <b>Registered, Not Enrolled Participants</b>
    <p></p>
    <p>{{registeredParticipants}}</p>
    <p>{{calculatePercentage(registeredParticipants)}}%</p>
  </div>
  
  <div class="main-box">
    <b>Kits Sent Out</b>
    <p>73</p>
  </div>

  <div>
    <button md-mini-fab color="warn" class="md-fab-bottom-left" >
      <i class="fas fa-plus fa-lg"></i>
    </button>
  </div>
</div>