<ng-container>
  <div class="Display--block">
    <p>Eligibility</p>
    <div id="Eligibility">
      <div class="Float--left Width--100">
        <div class="Float--left Width--60 bordered">
          <table class="table table-condensed Width--100 table-bordered">
            <tbody>
            <tr>
              <td>
                Eligibility
              </td>
              <td>
                <md-radio-group>
                  <md-radio-button value="eligibility">Eligible</md-radio-button>
                  <br>
                  <md-radio-button value="not">Not Eligible</md-radio-button>
                  <br>
                  <md-radio-button value="pending">Pending</md-radio-button>
                  <br>
                </md-radio-group>
              </td>

            </tr>
            <tr>
              <td>Contacting Physician's First Name</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="Contacting Physician's First Name" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>

            </tr>
            <tr>
              <td>Contacting Physician's Last Name</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="Contacting Physician's Last Name" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>

            </tr>
            <tr>
              <td>Contacting Physician's Suffix</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="Contacting Physician's Suffix" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>

              </td>

            </tr>
            <tr>
              <td>Contacting Physician's Address</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="Contacting Physician's Address" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>

              </td>

            </tr>
            <tr>
              <td>Contacting Physician's Phone Number</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="Contacting Physician's Phone Number" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>

            </tr>
            <tr>
              <td>Contacting Physician's Email</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="Contacting Physician's Email" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>

            </tr>
            <tr>
              <td>Received care at National A-T Clinic, Brisbane, Queensland, Australia?</td>
              <td>
                <md-radio-group>
                  <md-radio-button value="yes">Yes</md-radio-button>
                  <br>
                  <md-radio-button value="no">No</md-radio-button>
                  <br>
                </md-radio-group>
              </td>

            </tr>
            <tr>
              <td>Received care at National A-T Clinic, Sheba Medical Center, Tel Hashomer, Ramat Gan,
                Israel?
              </td>
              <td>
                <md-radio-group>
                  <md-radio-button value="yes">Yes</md-radio-button>
                  <br>
                  <md-radio-button value="no">No</md-radio-button>
                  <br>
                </md-radio-group>
              </td>

            </tr>
            <tr>
              <td>Received care at John's Hopkins A-T Clinic?</td>
              <td>
                <md-radio-group>
                  <md-radio-button value="yes">Yes</md-radio-button>
                  <br>
                  <md-radio-button value="no">No</md-radio-button>
                  <br>
                </md-radio-group>
              </td>

            </tr>
            <tr>
              <td>Received care at Specialized A-T Center, Johann Wolfgang Goethe University, Frankfurt,
                Germany?
              </td>
              <td>
                <md-radio-group>
                  <md-radio-button value="yes">Yes</md-radio-button>
                  <br>
                  <md-radio-button value="no">No</md-radio-button>
                  <br>
                </md-radio-group>
              </td>

            </tr>
            <tr>
              <td>Received care at The Clinic at the A-T Specialist Centre, Nottingham City Hospital,
                Nottingham, UK?
              </td>
              <td>
                <md-radio-group>
                  <md-radio-button value="yes">Yes</md-radio-button>
                  <br>
                  <md-radio-button value="no">No</md-radio-button>
                  <br>
                </md-radio-group>
              </td>

            </tr>
            <tr>
              <td>Age of participant at time of death</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="Age at time of death" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>

            </tr>
            <tr>
              <td>Date of death for participant</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="Date of Death" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>

            </tr>
            <tr>
              <td>Cause of death for participant</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="Cause of death" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>

            </tr>
            <tr>
              <td>Notes about participant cause of death</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="Notes" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <p>Genome Study</p>
    <div id="genomeStudy">
      <div class="Float--left Width--100">
        <div class="Float--left Width--60 bordered">
          <table class="table table-condensed Width--100">
            <tbody>
            <tr>
              <td>
                Genome study Collaborator Participant ID
              </td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="Genome study Collaborator Participant ID" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>
                Consented for genome study
              </td>
              <td>
                <md-radio-group>
                  <md-radio-button value="yes">Yes</md-radio-button>
                  <br>
                  <md-radio-button value="no">No</md-radio-button>
                  <br>
                </md-radio-group>
              </td>
            </tr>
            <tr>
              <td>
                Genome study date of participant consent
              </td>
              <td><app-field-datepicker [dateString]=""></app-field-datepicker></td>
            </tr>
            <tr>
              <td>Ethnicity</td>
              <td>Dropdown</td>
            </tr>
            <tr>
              <td>Does participant have a sibling in the study?</td>
              <td>
                <md-radio-group>
                  <md-radio-button value="yes">Yes</md-radio-button>
                  <br>
                  <md-radio-button value="no">No</md-radio-button>
                  <br>
                </md-radio-group>
              </td>
            </tr>
            <tr>
              <td>Genome study shipping address</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>Status of genome study saliva sample</td>
              <td>
                <md-radio-group>
                  <md-radio-button value="">Completed, de-identified data available</md-radio-button>
                  <br>
                  <md-radio-button value="">Consented, sample kit not shipped</md-radio-button>
                  <br>
                <md-radio-button value="">Repeat sample collection pending</md-radio-button>
                  <br>
                <md-radio-button value="">Sample kit received from participant</md-radio-button>
                  <br>
                <md-radio-button value="">Sample kit sent to participant</md-radio-button>
                  <br>
                <md-radio-button value="">Sample sequenced, pending release</md-radio-button>
                  <br>
                </md-radio-group>
              </td>
            </tr>
            <tr>
              <td>Salive kit barcode for genome study</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>Tracking number for genome study saliva kit</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>Genome study spit kit shipped on</td>
              <td><app-field-datepicker [dateString]=""></app-field-datepicker></td>
            </tr>
            <tr>
              <td>Date genome study saliva kit is received by participant</td>
              <td><app-field-datepicker [dateString]=""></app-field-datepicker></td>
            </tr>
            <tr>
              <td>Genome study date of receipt of spit kit from participant</td>
              <td><app-field-datepicker [dateString]=""></app-field-datepicker></td>
            </tr>
            <tr>
              <td>
                Genome study date of completion of sequencing
              </td>
              <td><app-field-datepicker [dateString]=""></app-field-datepicker></td>
            </tr>
            <tr>
              <td>Genome study date of completion (data released in repository)</td>
              <td><app-field-datepicker [dateString]=""></app-field-datepicker></td>
            </tr>
            <tr>
              <td>Notes about previous saliva kits</td>
              <td>
                <textarea maxlength="1000"
                          [ngClass]="{'Width--100': true}"></textarea>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <p>Miscellaneous</p>
    <div id="misc">
      <div class="Float--left Width--100">
        <div class="Float--left Width--60 bordered">
          <table class="table table-condensed Width--100">
            <tbody>
            <tr>
              <td>AT Portal User ID</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="AT Portal User ID" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>Name of portal user</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="Name of portal user" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>Portal user e-mail account</td>
              <td>
                <md-input-container>
                  <input mdInput maxlength="500" placeholder="" type="text"
                         autocomplete="off" [disabled]="false">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>Type of participant registration</td>
              <td>
                <md-radio-group>
                  <md-radio-button value="">Dependent</md-radio-button>
                  <br>
                  <md-radio-button value="">Portal User</md-radio-button>
                  <br>
                  <md-radio-button value="">Self</md-radio-button>
                  <br>
                </md-radio-group>
              </td>
            </tr>
            <tr>
              <td>Status of participant registration</td>
              <td>
                <md-radio-group>
                  <md-radio-button value="">Not registered</md-radio-button>
                  <br>
                  <md-radio-button value="">Registered</md-radio-button>
                  <br>
                <md-radio-button value="">Consented, needs assent</md-radio-button>
                  <br>
                <md-radio-button value="">Consented</md-radio-button>
                  <br>
                <md-radio-button value="">Submitted physician info</md-radio-button>
                  <br>
                <md-radio-button value="">Submitted medical history</md-radio-button>
                  <br>
                <md-radio-button value="">Submitted genome study shipping info</md-radio-button>
                  <br>
                <md-radio-button value="">Submitted enrollment/pending confirmation</md-radio-button>
                  <br>
                <md-radio-button value="">Eligibility not confirmed</md-radio-button>
                  <br>
                <md-radio-button value="">Enrolled</md-radio-button>
                  <br>
                </md-radio-group>
              </td>
            </tr>
            <tr>
              <td>Has updated medical history?</td>
              <td>
                <md-radio-group>
                  <md-radio-button value="yes">Yes</md-radio-button>
                  <br>
                  <md-radio-button value="no">No</md-radio-button>
                  <br>
                </md-radio-group>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
