<span class="Display--Inline-Block">
  <div *ngFor="let v of values">

    <ng-container *ngIf="v.type === 'drugs'">
      <mat-select placeholder="{{v.value}}" *ngIf="v.type2 === options"
                 [ngClass]="{'Input--Abstraction': true, 'Color--Field--Patched': isPatchedCurrently(v.value)}"
                 [(ngModel)]="_multiType[v.value]" [disabled]="disabled"
                 (change)="multiTypeValueChanged($event, _multiType, v.value, v)">
        <mat-option *ngFor="let drug of drugs" [value]="drug">
          {{drug}}
        </mat-option>
        <mat-option value="other"> Other</mat-option>
      </mat-select>
      <mat-select placeholder="{{v.value}}" *ngIf="v.type2 === multiOptions"
                 [ngClass]="{'Input--Abstraction': true, 'Color--Field--Patched': isPatchedCurrently(v.value)}"
                 [(ngModel)]="_multiType[v.value]" [disabled]="disabled"
                 (change)="multiTypeValueChanged($event, _multiType, v.value, v)" multiple>
        <mat-option *ngFor="let drug of drugs" [value]="drug" [disabled]="!patchFinished">
          {{drug}}
        </mat-option>
        <mat-option value="other"> Other</mat-option>
      </mat-select>

      <app-field-typeahead *ngIf="v.type2 === 'text'" [dataSource]="drugs" [drug]="_multiType[v.value]" [disabled]="disabled" [fieldName]="v.value"
                           (drugSelected)="multiTypeValueChanged($event, _multiType, v.value, v)"></app-field-typeahead>
    </ng-container>

    <ng-container *ngIf="v.type === 'cancers'">
      <mat-select placeholder="{{v.value}}" *ngIf="v.type2 === options"
                 [ngClass]="{'Input--Abstraction': true, 'Color--Field--Patched': isPatchedCurrently(v.value)}"
                 [(ngModel)]="_multiType[v.value]" [disabled]="disabled"
                 (change)="multiTypeValueChanged($event, _multiType, v.value, v)">
        <mat-option *ngFor="let cancer of cancers" [value]="cancer">
          {{cancer}}
        </mat-option>
        <mat-option value="other"> Other</mat-option>
      </mat-select>
      <mat-select placeholder="{{v.value}}" *ngIf="v.type2 === multiOptions"
                 [ngClass]="{'Input--Abstraction': true, 'Color--Field--Patched': isPatchedCurrently(v.value)}"
                 [(ngModel)]="_multiType[v.value]" [disabled]="disabled"
                 (change)="multiTypeValueChanged($event, _multiType, v.value, v)" multiple>
        <mat-option *ngFor="let cancer of cancers" [value]="cancer" [disabled]="!patchFinished">
          {{cancer}}
        </mat-option>
        <mat-option value="other"> Other</mat-option>
      </mat-select>

      <app-field-typeahead *ngIf="v.type2 === 'text'" [dataSource]="cancers" [drug]="_multiType[v.value]" [disabled]="disabled" [fieldName]="v.value"
                           (drugSelected)="multiTypeValueChanged($event, _multiType, v.value, v)"></app-field-typeahead>
    </ng-container>

    <mat-form-field *ngIf="v.type === 'text'"
                        [ngClass]="{'Width--100': true, 'Input--Abstraction': true, 'Color--Field--Patched': isPatchedCurrently(v.value)}">
      <input matInput maxlength="200" [disabled]="disabled" autocomplete="off"
             [(ngModel)]="_multiType[v.value]" placeholder="{{v.value}}"
             (change)="multiTypeValueChanged($event, _multiType, v.value, v)"
             (blur)="currentField(null)" (focus)="currentField(v.value)">
    </mat-form-field>

    <app-field-datepicker *ngIf="v.type === 'date'" [dateString]="_multiType[v.value]" [disabled]="disabled" [addCheckboxEstimated]="true"
                          [showNAButton]="true" [showNotFoundButton]="true" [allowUnknownDay]="true" [fieldName]="v.value"
                          [colorDuringPatch]="isPatchedCurrently(v.value)"
                          (dateChanged)="multiTypeValueChanged($event, _multiType, v.value, v)"></app-field-datepicker>

    <mat-form-field *ngIf="v.type === 'number'"
                        [ngClass]="{'Width--100': true, 'Input--Abstraction': true, 'Color--Field--Patched': isPatchedCurrently(v.value)}">
      <input matInput type="number" [disabled]="disabled"
             [(ngModel)]="_multiType[v.value]" placeholder="{{v.value}}"
             (change)="multiTypeValueChanged($event, _multiType, v.value, v)"
             (blur)="currentField(null)" (focus)="currentField(v.value)">
    </mat-form-field>

    <textarea *ngIf="v.type === 'textarea'" maxlength="1000" placeholder="{{v.value}}"
              [ngClass]="{'Width--100': true, 'Input--Abstraction': true, 'Color--Field--Patched': isPatchedCurrently(v.value)}"
              [(ngModel)]="_multiType[v.value]" [disabled]="disabled"
              (change)="multiTypeValueChanged($event, _multiType, v.value, v)"
              (blur)="currentField(null)" (focus)="currentField(v.value)"></textarea>

    <b *ngIf="v.type === 'button_select'">{{v.value}}</b>

    <mat-button-toggle-group *ngIf="v.type === 'button_select'"
                            [ngClass]="{'Color--Button-Select--Patched': isPatchedCurrently(v.value)}"
                            [disabled]="disabled" [(ngModel)]="_multiType[v.value]">
      <mat-button-toggle *ngFor="let noName of v.values" [value]="noName.value"
                        (change)="multiTypeValueChanged($event, _multiType, v.value, v)">
        {{noName.value}}
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-select placeholder="{{v.value}}" *ngIf="v.type === options"
               [ngClass]="{'TD--Padding-Top': true, 'Input--Abstraction': true, 'Color--Field--Patched': isPatchedCurrently(v.value)}"
               [(ngModel)]="_multiType[v.value]" [disabled]="disabled"
               (change)="multiTypeValueChanged($event, _multiType, v.value, v)">
      <mat-option *ngFor="let noName of v.values" [value]="noName.value">
        {{noName.value}}
      </mat-option>
      <mat-option value="other"> Other</mat-option>
    </mat-select>

    <mat-select *ngIf="v.type === multiOptions"
               [ngClass]="{'TD--Padding-Top': true, 'Input--Abstraction': true, 'Color--Field--Patched': isPatchedCurrently(v.value)}"
               placeholder="{{v.value}}"
               [(ngModel)]="_multiType[v.value]" [disabled]="disabled"
               (change)="multiTypeValueChanged($event, _multiType, v.value, v)" multiple>
      <mat-option *ngFor="let noName of v.values" [value]="noName.value" [disabled]="!patchFinished">
        {{noName.value}}
      </mat-option>
      <mat-option value="other"> Other</mat-option>
    </mat-select>

    <mat-form-field *ngIf="_other[v.value] != null && (v.type === options || v.type2 === options || v.type === multiOptions || v.type2 === multiOptions)"
                        [ngClass]="{'Width--100': true, 'Input--Abstraction': true, 'Color--Field--Patched': isPatchedCurrently(other+'_'+v.value)}">
      <input matInput maxlength="200" [disabled]="disabled" autocomplete="off"
             [(ngModel)]="_other[v.value]" placeholder="{{v.value}} - Other"
             (change)="multiTypeValueChanged($event, _multiType, other, v)"
             (blur)="currentField(null)" (focus)="currentField(other+'_'+v.value)">
    </mat-form-field>

    <mat-checkbox *ngIf="v.type === 'checkbox'" disableRipple color="primary"
                 [color]="isCheckboxPatchedCurrently(v.value)"
                 [ngModel]="_multiType[v.value]" [disabled]="disabled"
                 (change)="multiTypeValueChanged($event, _multiType, v.value, v)">{{v.value}}
    </mat-checkbox>

  </div>
  <ng-container *ngIf="showDelete">
    <button mat-mini-fab color="warn" [disabled]="disabled" tooltip="Delete {{fieldName}}"
            (click)="delete()">
      <i class="fas fa-trash-alt fa-lg"></i>
    </button>
  </ng-container>
</span>

