<h1> Kit Upload </h1>

<div *ngIf="errorMessage != null">
  <h3 class="Color--warn Line--Break">{{errorMessage}}</h3>
  <br/>
</div>


<div *ngIf="additionalMessage != null">
  <h3 class="Color--primary Line--Break">{{additionalMessage}}</h3>
  <br/>
</div>

<span [hidden]="!loading" class="Width--100">
    <div align="center" class="Width--100 Height--100">
      <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
      <br/>
      <br/>
    </div>
  </span>

<div *ngIf="allowedToSeeInformation">
  <br/>
  <br/>
  <div class="Width--60">
    <div *ngIf="kitTypes != null && kitTypes.length > 1">
      <div *ngFor="let type of kitTypes">
        <mat-checkbox color="primary" [checked]="type.selected || kitTypes.length == 1"
                     (change)="type.selected = $event.checked; typeChecked(type)"
                     disableRipple>{{type.displayName}}</mat-checkbox>
      </div>
    </div>
  </div>
  <br/>
  <div *ngIf="uploadReasons.length > 0">
    <div>
      <b>Select reason to upload this batch</b>
    </div>
    <div>
      <mat-select [(ngModel)]="this.selectedReason">
        <mat-option *ngFor="let uploadReason of this.uploadReasons" value="{{uploadReason}}">{{uploadReason}}</mat-option>
      </mat-select>
    </div>
  </div>
  <br>
  <div *ngIf="carriers.length > 0">
    <div>
      <b>Select Shipping Carrier</b>
    </div>
    <div>
      <mat-select [(ngModel)]="this.selectedCarrier">
        <mat-option *ngFor="let carrier of this.carriers" value="{{carrier}}">{{carrier}}</mat-option>
      </mat-select>
    </div>
  </div>
  <br/>
  <div *ngIf="allOptionesSelected()" class="Width--80">
    <app-filepicker [id]="'kitUploadFile'" [fileFormat]="'txt'" (fileSelected)="fileSelected($event)"></app-filepicker>
    <button type="button" mat-raised-button color="primary"
            (click)="upload()"
            [disabled]="!(uploadPossible && file != null) || loading">Upload Kits
    </button>
  </div>
  <div>

  </div>

  <div *ngIf="failedParticipants != null && failedParticipants.length > 0">
    <div class="Float--left Width--80">
      <br/>
      <h4>The address of following participants was not valid:</h4>
      <div *ngFor="let errorParticipant of failedParticipants">
        <p>{{errorParticipant.participantId}}</p>
      </div>
    </div>
    <div class="Float--left Width--20">
      <button type="button" mat-raised-button (click)="downloadFailed()" color="primary">Download list of failed</button>
    </div>
  </div>

  <div class="Float--left Width--80">
    <b>
      <br/>
      <br/>
      <br/>
      Upload instructions:
      <ul>
        <li>Tab delimited ".txt" file</li>
        <li>Following columns are required
          <table class="table table-bordered">
            <tr>
              <ng-container *ngIf="getCompService().getRealm().toLowerCase() === 'rgp'">
                <td>participantId</td>
              </ng-container>
              <td>shortId</td>
              <td>firstName</td>
              <td>lastName</td>
              <td>street1</td>
              <td>street2</td>
              <td>city</td>
              <td>postalCode</td>
              <td>state</td>
              <td>country</td>
              <ng-container *ngIf="getCompService().getRealm().toLowerCase() === 'testboston'">
                <td>phoneNumber</td>
              </ng-container>
            </tr>
          </table>
        </li>
        <li>Afterwards kits can be found under <u>'Kits without Labels'</u>. GP will trigger label creation.</li>
      </ul>
    </b>
  </div>


  <app-modal>
    <div class="app-modal-header">
      Please select the participant for which you want to upload a new one.<br>
    </div>
    <div class="app-modal-body">
      <div *ngFor="let duplicateParticipant of duplicateParticipants">
        Participant already has a kit.
        <mat-checkbox color="primary" [checked]="duplicateParticipant.selected"
                     (change)="duplicateParticipant.selected = $event.checked" disableRipple>
          {{duplicateParticipant.participantId}} {{duplicateParticipant.shortId}} {{duplicateParticipant.firstName}} {{duplicateParticipant.lastName}}
        </mat-checkbox>
      </div>
      <div *ngFor="let duplicateParticipant of specialKits">
        {{specialMessage}}
        <mat-checkbox color="primary" [checked]="duplicateParticipant.selected"
                     (change)="duplicateParticipant.selected = $event.checked" disableRipple>
          {{duplicateParticipant.participantId}} {{duplicateParticipant.shortId}} {{duplicateParticipant.firstName}} {{duplicateParticipant.lastName}}
        </mat-checkbox>
      </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="forgetDuplicate()">Close</button>
      <button type="button" class="btn btn-primary" (click)="uploadDuplicate()">Upload Kit</button>
    </div>
  </app-modal>
</div>
