<table class="Width--100">
  <tr>
    <td class="TD--Padding Width--30">
      {{fieldSetting.columnDisplay}}
    </td>
    <td>
      <ng-container *ngIf="fieldSetting.displayType === 'NUMBER'">
        <mat-form-field [ngClass]="{'Width--100': true, 'Input--Abstraction': true, 'Color--Field--Patched': isPatchedCurrently(fieldSetting.columnName)}">
          <input matInput type="number"
                 placeholder="{{fieldSetting.columnDisplay}}"
                 [ngModel]="participantData" (change)="valueChanged($event)"
                 [readonly] = "fieldSetting.readonly">
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="fieldSetting.displayType === 'CHECKBOX'">
        <mat-checkbox [color]="isCheckboxPatchedCurrently(fieldSetting.columnName)" [disabled]="fieldSetting.readonly" disableRipple
                     (change)="valueChanged($event)">
        </mat-checkbox>
      </ng-container>

      <ng-container *ngIf="fieldSetting.displayType === 'OPTIONS'">
        <mat-select [ngClass]="{'Input--Abstraction': true, 'Color--Field--Patched': isPatchedCurrently(fieldSetting.columnName)}" placeholder="{{fieldSetting.columnDisplay}}"
                  [ngModel]="getActivityAnswer()"
                  [disabled]="fieldSetting.readonly"
                  (selectionChange)="valueChanged($event)">
          <mat-option *ngFor="let value of fieldSetting.possibleValues" [value]="value.value">
            <ng-container *ngIf="value.name !== undefined">
              {{value.name}}
            </ng-container>
            <ng-container *ngIf="value.name === undefined && value.value !== undefined">
              {{value.value}}
            </ng-container>
            <ng-container *ngIf="value.name === undefined && value.value === undefined">
              {{value}}
            </ng-container>
          </mat-option>
        </mat-select>
      </ng-container>

      <ng-container *ngIf="fieldSetting.displayType === 'BUTTON_SELECT'">
        <mat-button-toggle-group
          [ngClass]="{'Color--Button-Select--Patched': isPatchedCurrently(fieldSetting.columnName)}"
          [disabled]="fieldSetting.readonly">
          <mat-button-toggle *ngFor="let value of fieldSetting.possibleValues" [value]="value.value" (change)="valueChanged($event)">
            <ng-container *ngIf="value.name !== undefined">
              {{value.name}}
            </ng-container>
            <ng-container *ngIf="value.name === undefined && value.value !== undefined">
              {{value.value}}
            </ng-container>
            <ng-container *ngIf="value.name === undefined && value.value === undefined">
              {{value}}
            </ng-container>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </ng-container>

      <ng-container *ngIf="fieldSetting.displayType === 'TEXTAREA'">
        <textarea maxlength="50000" placeholder="{{fieldSetting.columnDisplay}}"
                  rows="10"
                  [ngClass]="{'Width--100': true, 'Color--Field--Patched': isPatchedCurrently(fieldSetting.columnName)}" [value]="participantData"
                  [readonly] = "fieldSetting.readonly"
                  (change)="valueChanged($event)"></textarea>
      </ng-container>

      <ng-container *ngIf="fieldSetting.displayType === 'TEXT'
       || ((fieldSetting.displayType === 'ACTIVITY' || fieldSetting.displayType === 'ACTIVITY_STAFF') && fieldSetting.possibleValues != null && fieldSetting.possibleValues[0] != null && fieldSetting.possibleValues[0].type !== 'RADIO' && fieldSetting.possibleValues[0].type !== 'DATE')">
        <mat-form-field
          [ngClass]="{'Width--100': true, 'Input--Abstraction': true, 'Color--Field--Patched': isPatchedCurrently(fieldSetting.columnName)}">
          <input matInput maxlength="200" autocomplete="off" [disabled]="fieldSetting.displayType === 'ACTIVITY'"
                 [ngModel]="getActivityAnswer()" (change)="valueChanged($event)"
                 placeholder="{{fieldSetting.columnDisplay}}"
                 [readonly] = "fieldSetting.readonly">
        </mat-form-field>
      </ng-container>

      <fieldset [disabled]="fieldSetting.readonly">
        <ng-container *ngIf="fieldSetting.displayType === 'RADIO'
        || ((fieldSetting.displayType === 'ACTIVITY' || fieldSetting.displayType === 'ACTIVITY_STAFF') && fieldSetting.possibleValues != null && fieldSetting.possibleValues[0] != null && fieldSetting.possibleValues[0].type != null && fieldSetting.possibleValues[0].type === 'RADIO')">
          <mat-radio-group [disabled]="fieldSetting.displayType === 'ACTIVITY'"
                          [value]="getActivityAnswer()" (change)="valueChanged($event)">
            <div *ngFor="let radio of getOptions()">
              <ng-container *ngIf="radio.name !== undefined">
                <mat-radio-button color="primary" disableRipple
                                value="{{radio.value}}">{{radio.name}}</mat-radio-button>
              </ng-container>
              <ng-container *ngIf="radio.name === undefined && radio.value !== undefined">
                <mat-radio-button color="primary" disableRipple
                                value="{{radio.value}}">{{radio.value}}</mat-radio-button>
              </ng-container>
              <ng-container *ngIf="radio.name === undefined && radio.value === undefined">
                <mat-radio-button color="primary" disableRipple
                                value="{{radio}}">{{radio}}</mat-radio-button>
              </ng-container>
            </div>
          </mat-radio-group>
        </ng-container>
      </fieldset>

      <fieldset [disabled]="fieldSetting.readonly">
        <ng-container *ngIf="fieldSetting.displayType === 'DATE'
        || ((fieldSetting.displayType === 'ACTIVITY' || fieldSetting.displayType === 'ACTIVITY_STAFF') && fieldSetting.possibleValues != null && fieldSetting.possibleValues[0] != null && fieldSetting.possibleValues[0].type === 'DATE')">
          <app-field-datepicker [dateString]="getActivityAnswer()" [addCheckboxEstimated]="false" [disabled]="fieldSetting.displayType === 'ACTIVITY'"
                                [showNAButton]="false" [showNotFoundButton]="false" [allowUnknownDay]="false"
                                [colorDuringPatch]="isPatchedCurrently(fieldSetting.columnName)"
                                (dateChanged)="valueChanged($event)">
          </app-field-datepicker>
        </ng-container>
      </fieldset>
    </td>
  </tr>
</table>
