<h1> User Settings </h1>

<div *ngIf="errorMessage != null">
  <h3 class="Color--warn Line--Break">{{errorMessage}}</h3>
  <br/>
</div>

<div *ngIf="additionalMessage != null">
  <h3 class="Color--primary Line--Break">{{additionalMessage}}</h3>
  <br/>
</div>


<div *ngIf="errorMessage == null">

  <span [hidden]="!saving" class="Width--100">
    <div align="center" class="Width--100 Height--100">
      <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
      <br/>
      <br/>
    </div>
  </span>

  <br/>
  <br/>
  <div class="Display--block">
    <div class="Float--left Width--70">
      <table class="table table-condensed">
        <tbody>
        <tr>
          <td colspan="4"><b>Tables</b></td>
        </tr>
        <tr>
          <td>Default rows on page</td>
          <td>
            <mat-form-field class="Input">
              <input matInput type="number" [(ngModel)]="userSetting.rowsOnPage" min="0" max="1000" i18n>
            </mat-form-field>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Row count buttons</td>
          <td>
            <mat-form-field class="Input">
              <input matInput type="number" [(ngModel)]="userSetting.rowSet0" min="0" max="1000" i18n>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="Input">
              <input matInput type="number" [(ngModel)]="userSetting.rowSet1" min="0" max="1000" i18n>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="Input">
              <input matInput type="number" [(ngModel)]="userSetting.rowSet2" min="0" max="1000" i18n>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="4"><b>Date format</b></td>
        </tr>
        <tr>
          <td>Enter date format</td>
          <td>
            <mat-select [(ngModel)]="userSetting.dateFormat">
              <mat-option value="yyyy-MM-dd">yyyy-MM-dd</mat-option>
              <mat-option value="MM/dd/yyyy">MM/dd/yyyy</mat-option>
            </mat-select>
          </td>
          <td></td>
          <td></td>
        </tr>
        <ng-container *ngIf="realm !== null&& realm !== undefined">
          <tr>
            <td colspan="4"><b>Default Filters</b></td>
          </tr>
          <tr>
            <td>Participant List Default Filter</td>
            <td colspan="3">
              <mat-select class="Input--Bigger-WIDTH" [(ngModel)]="userSetting.defaultParticipantFilter"
                         (selectionChange)="setDefaultFilter($event, 'participantList')">
                <mat-option *ngFor="let t of participantListFilterNames" [value]="t">{{t}}</mat-option>
                <mat-option [value]="">No default filter</mat-option>
              </mat-select>
            </td>
          </tr>

          <tr>
            <td>Tissue List Default Filter</td>
            <td colspan="3">
              <mat-select class="Input--Bigger-WIDTH" [(ngModel)]="userSetting.defaultTissueFilter"
                         (selectionChange)="setDefaultFilter($event, 'tissueList')">
                <mat-option *ngFor="let t of tissueListFilterNames" [value]="t">{{t}}</mat-option>
                <mat-option [value]="">No default filter</mat-option>
              </mat-select>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="realm === null || realm === undefined" class="Color--warn Line--Break">
          <h3 class="Color--primary Line--Break">Please select a realm to show the default filter associated with its
            group.</h3>
          <br/>

        </ng-container>
        </tbody>
      </table>
      <button mat-raised-button (click)="saveUserSettings()" color="primary"> Save user settings</button>
    </div>
  </div>
</div>
