<h1>
  {{title}} {{showParticipantInformation}}
</h1>
<fusioncharts
  width="100%"
  height="700"
  type="heatmap"
  [dataSource]="dataSource"
  (dataLabelClick)="clickRow($event)"
>
</fusioncharts>

<p>
  Date from: 
  <app-field-datepicker (dateChanged)=dateFromHandler($event)></app-field-datepicker>
  Date to: 
  <app-field-datepicker (dateChanged)=dateToHandler($event)></app-field-datepicker>
  <button md-raised-button color="primary"
                      [disabled]="!dateFrom && !dateTo"
                      (click)="filterByDate()">Filter
              </button>
</p>

<button md-raised-button color="primary"
    (click)="previousRow()"
    [disabled]="false">Previous
</button>

<button md-raised-button color="primary"
    (click)="nextRow()"
    [disabled]="false">Next
</button>
