.update-participant-input {
    border-width: 2px !important;
    border-style: inset !important;
    border-color: rgb(118, 118, 118) rgb(133, 133, 133) !important;
    width: auto !important;
    vertical-align: initial !important;
}
.invalid-email {
    display: block;
    line-height: normal;
    color:red;
}